.AppHome {
    text-align: center;
    font-size: 16px;
}

.QuestionForm-wrapper {
    /* border: 1px solid black; */
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    /* height: 220px; */
}

.QuestionList-wrapper {
    /* border: 1px solid black; */ 
}

.AppHome-wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
}

.QuestionForm-wrapper h2 {
    margin-bottom: 20px;
}