.SignupPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }

.header-footer {
  font-size: 20px;
  margin: 10px 0 10px;
}

.dropdown {
    margin-bottom: 15px;
    color: rgb(157, 157, 157);
}