/* .QuestionForm  h5{
    text-align: center;
    width: 100%;
    background-color: grey
}

.QuestionBox {
    border-color: grey;
} */

.input-group {
    min-width: 240px;
    margin: 0 10px 0 10px;
    
}

.question-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}

.btn-success {
    background-color: rgb(121, 188, 250);
    border-color: rgb(117, 171, 248)
}