.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 40px;
    background-color: rgb(191, 190, 187);
}
  
.NavBar-link {
    margin: 0 10px;
}

.NavBar-welcome {
    color: black;
}

.NavBar-wrap {
    background-color: rgb(247, 247, 247);
}