.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 40px;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
  
.NavBar-link {
    margin: 0 10px;
}

.NavBar-welcome {
    color: black;
}

.NavBar-wrap {
    background-color: rgb(247, 247, 247);
}

.NavBar-link {
    color: rgb(50, 50, 50)
}